/Makefile.inc
/dracut.conf.d/*.conf
/doc/*.1
/doc/*.5
/doc/*.8
/doc/*.7
/doc/dracut.html
/dracut.pc
/dracut-install
/modules.d/99base/switch_root
/test/*/test.log
/test/*/.testdir
test*.img
/.buildpath
/.project
/dracut-version.sh
/install/dracut-install
/*.rpm
/*.[0-9]
/modules.d/98dracut-systemd/*.service.8
/*.sign
*.o
skipcpio/skipcpio
